@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
*, *:before, *:after {
  box-sizing: border-box; }

* {
  color: #17243a;
  font-family: 'Epilogue';
  font-style: normal; }

body {
  display: -ms-grid;
  display: grid;
  padding: 0;
  margin: 0; }
  @media screen and (min-width: 768px) {
    body {
      padding: 16px 24px; } }

.container {
  background: #faf8f5;
  margin: 0;
  display: -ms-grid;
  display: grid;
  padding: 24px 16px 0; }

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  margin-bottom: 56px; }
  .header__logo {
    height: 32px;
    width: 81px; }
  .header__button-text {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 24px; }
    @media screen and (min-width: 768px) {
      .header__button-text {
        font-size: 16px;
        line-height: 32px; } }

.request-button {
  background: #faf8f5;
  border: 1px solid #17243a;
  border-radius: 6px;
  padding: 12px 16px;
  max-width: 180px; }
  @media screen and (min-width: 768px) {
    .request-button {
      padding: 12px 24px; } }
  .request-button--header {
    margin-left: auto; }
  .request-button--teaser {
    max-width: 256px;
    margin-bottom: 56px;
    background: #17243a; }

.teaser {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 46px; }
  @media screen and (min-width: 768px) {
    .teaser {
      flex-direction: row;
      background: url(../assets/image-hero-portrait.png);
      background-size: 282px;
      background-repeat: no-repeat;
      background-position: right bottom;
      padding: 0;
      margin: 24px 16px; } }
  .teaser__arc {
    width: 150px;
    align-self: flex-end;
    padding-right: 55px;
    margin-left: auto; }
    @media screen and (min-width: 768px) {
      .teaser__arc {
        width: 230px; } }
  .teaser__headline {
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.5px;
    margin-bottom: 32px; }
    @media screen and (min-width: 768px) {
      .teaser__headline {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.8px; } }
  .teaser__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.9px;
    margin-bottom: 32px; }
  .teaser__button-text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #faf8f5; }
  @media screen and (min-width: 768px) {
    .teaser__hero--small {
      display: none; } }

.numbers {
  display: grid;
  margin-bottom: 24px; }
  .numbers__element {
    margin-bottom: 32px; }
    .numbers__element__number {
      font-weight: 700;
      font-size: 48px;
      line-height: 56px;
      text-align: center; }
    .numbers__element__category {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-align: center;
      letter-spacing: 2.5px;
      text-transform: uppercase; }

.customer {
  display: grid;
  background: #17243a;
  border-radius: 16px;
  margin: 195px -16px 0;
  color: #faf8f5; }
  .customer__image {
    width: fit-content;
    width: -moz-fit-content;
    margin-top: -175px;
    justify-self: center;
    margin-bottom: 40px; }
  .customer__arc {
    width: 50px;
    height: 40px;
    justify-self: center;
    margin-bottom: 35px; }
  .customer__headline {
    color: #faf8f5;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.42px;
    margin-bottom: 40px; }
    .customer__headline strong {
      color: #faf8f5; }
  .customer__quote {
    color: #faf8f5;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    padding: 0 16px;
    margin-bottom: 40px; }
  .customer__name, .customer__position {
    color: #faf8f5;
    text-transform: uppercase;
    text-align: center;
    align-self: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center; }
  .customer__position {
    letter-spacing: 2.5px;
    font-weight: 400;
    margin-bottom: 64px; }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f3ede7;
  padding: 56px 0 80px; }
  .footer__logo {
    width: fit-content;
    width: -moz-fit-content;
    align-self: center; }
  .footer__copyright {
    margin-bottom: 36px;
    margin-top: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px; }
  .footer__social-media {
    display: flex;
    width: 125px;
    justify-content: space-between; }
