@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

// $light-grey: hsl(217, 12%, 63%);
// $medium-grey: hsl(216, 12%, 54%);
// $dark-blue: hsl(213, 19%, 18%);
// $very-dark-blue: hsl(216, 12%, 8%);
// $neon-green: hsl(150, 100%, 66%);
// $grayish-blue: hsl(217, 19%, 38%);


$mobile: 375px;
$desktop: 1440px;

$orange: hsl(31, 100%, 65%);
$pink: hsl(292, 78%, 64%);
$violet: hsl(264, 100%, 69%);
$white: hsl(39, 29%, 97%);
$cream-white: hsl(39, 29%, 97%);
$light-cyan: hsl(30, 33%, 93%);
$dark-grayish-blue: hsl(219, 20%, 36%);
$dark-blue: hsl(219, 43%, 16%);

$font-size-heading-xl: 72px;
$font-size-heading-l: 48px;
$font-size-heading-m: 18px;
$font-size-heading-s: 16px;
$font-size-quote: 20px;
$font-size-body: 18px;
$font-size-footer: 15px;

$line-height-heading-xl: 78px;
$line-height-heading-l: 56px;
$line-height-heading-m: 32px;
$line-height-heading-s: 26px;
$line-height-quote: 35px;
$line-height-body: 32px;
$line-height-footer: 32px;


*, *:before, *:after {
  box-sizing: border-box;
}

* {
    color: $dark-blue;
    font-family: 'Epilogue';
    font-style: normal;
}

body {
    display: -ms-grid;
    display: grid;
    padding: 0;
    margin: 0;
    
    @media screen and (min-width:768px) and (max-width: 1439px){
        padding: 16px 24px 0;
    }
}

.container {
    @media screen and (max-width:767px) {
        background: $cream-white;
    }
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 24px 16px 0;

    @media screen and (min-width: 1440px) {
        align-items: center;
        max-width: 1110px;
        margin: 50px auto 0;
        padding: unset;
    }
}

.header {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    margin-bottom: 56px;
    align-items: center;
    width: 100%;
    
    &__logo {
        height: 32px;
        width: 81px;
    }

    &__button-text {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: -1px;
        line-height: 24px;
        width: 100%;

        @media screen and (min-width:768px) {
            font-size: 16px;
            line-height: 32px;
            letter-spacing: -0.16px;
        }
    }

}

.request-button {
    background: $cream-white;
    border: 1px solid $dark-blue;    
    border-radius: 6px;
    padding: 12px 15px;
    max-width: 180px;    

    @media screen and (min-width:768px) {
        padding: 12px 24px;
        max-width: 220px;
        background: unset;
    }

    &--header {
        margin-left: auto;

        &:hover {
            background: $dark-blue;
            .header__button-text {
                color: $cream-white;
            }
        }
    }

    &--teaser {
        max-width: 256px;
        max-height: 60px;
        margin-bottom: 56px;
        background: $dark-blue;

        &:hover {
            background: linear-gradient(to top left, $orange, $pink, $violet);
        }
    }
}

.contents {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1440px) {
        flex-direction: row;
    }
}

.teaser {
    display: grid;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 46px;
    position: relative;
    padding-top: 20px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        background: url(../assets/image-hero-portrait.png) no-repeat right bottom;
        background-position-y: top;
        background-size: 282px;
        padding: 88px 0 0;
        margin: 24px 16px 88px;
        min-height: 482px;
    }

    @media screen and (min-width: 1440px) {
        background-size: unset;
        min-height: 600px;
        margin-top: 10px;
    }

    &__arc {
        position: absolute;
        width: 151.47px;
        height: 19px;
        left: 154px;

        @media screen and (min-width:768px) {
            width: 220px;
            height: 29px;
            left: 220px;
            top: 42px;
        }
        @media screen and (min-width: 1440px) {
            width: 285px;
            height: 40px;
            top: 40px;
            left: 285px;
        }
    }

    &__headline {        
        font-weight: 400;
        font-size: 38px;
        line-height: 44px;
    	letter-spacing: -0.5px;
        margin-bottom: 32px;

        @media screen and (min-width:768px) {        
            font-size: 56px;
            line-height: 64px;
            letter-spacing: -0.8px;
            width: 75%;
        }

        @media screen and (min-width: 1440px) {
            font-size: 72px;
            line-height: 78px;
            letter-spacing: -1px;
        }


    }


    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 32px;
        letter-spacing: 0.1px;
        color: $dark-grayish-blue;

        @media screen and (min-width:768px) {
            letter-spacing: -0.8px;
            width: 49%;
        }

        @media screen and (min-width: 1440px) {
            font-size: 18px;
            line-height: 32px;
            width: 40%;
            letter-spacing: 0.1px;
        }
    }

    &__button-text {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
        color: $cream-white;
    }

    &__hero {
        &--small {
            width: -webkit-fill-available;
            @media screen and (min-width:768px) {
                display: none;
            }
        }
    }
}

.numbers {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;

    @media screen and (min-width:768px) {
        flex-direction: row;
        margin-bottom: 88px;
    }

    @media screen and (min-width: 1440px) {
        flex-direction: column;
        width: 190px;
        margin: 100px auto auto 96px;
        align-self: center;
    }

    &__element {
        margin-bottom: 32px;
        @media screen and (min-width:768px) {
            flex: auto;
        }

        @media screen and (min-width: 1440px) {
            margin-bottom: 64px;
            &:last-child {
                margin-bottom: auto;
            }
        }

        &__number {
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            text-align: center;

            @media screen and (min-width: 1440px) {
                text-align: left;
            }
        }

        &__category {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 2.5px;
            text-transform: uppercase;

            @media screen and (min-width: 1440px) {
                text-align: left;
            }
        }
    }
}

.customer {
    display: grid;    
    background: $dark-blue;
    border-radius: 16px;
    margin: 195px -16px 0;
    color: $light-cyan;

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(9, 1fr);
        gap: 10px;
        align-items: center;
        max-height: 545px;
        max-width: 1110px;
    }

    &__image {
        width: fit-content;
        width: -moz-fit-content;
        margin-top: -175px;
        justify-self: center;
        margin-bottom: 40px;

        &--small {
            @media screen and (min-width: 1440px) {
                display: none;
            }
        }
        &--large {
            @media screen and (max-width: 1439px) {
                display: none;
            }
            grid-column: 2 / 5;
            margin-top: -45px;
        }
    }

    &__arc {
        width: 50px;
        height: 40px;        
        justify-self: center;
        margin-bottom: 35px;
        @media screen and (min-width: 1440px) {
            grid-column: 5;
            width: 65px;
            height: 52px;
            align-self: start;
            margin-top: 160px;
        }

    }

    &__text {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1440px) {
            grid-column: 6 / 9;
            text-align: left;
        }
    }

    &__headline {
        color: $cream-white;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        letter-spacing: -0.42px;
        margin-bottom: 40px;
        @media screen and (min-width: 1440px) {
            text-align: left;
        }

        strong {
            color: $cream-white;
            font-weight: 900;
        }
    }

    &__quote {
        color: $light-cyan;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;        
        padding: 0 16px;
        margin-bottom: 40px;
        letter-spacing: 0.1px;
        @media screen and (min-width: 1440px) {
            text-align: left;
            padding: 0;
            font-size: 20px;
            line-height: 35px;
        }
    }

    &__name,
    &__position {
        color: $cream-white;
        text-transform: uppercase;
        text-align: center;
        align-self: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;

        @media screen and (min-width: 1440px) {
            text-align: left;
            align-self: flex-start;
            line-height: 36px;
        }
    }

    &__position {
        letter-spacing: 2.5px;
        font-weight: 400;
        margin-bottom: 64px;
        color: $light-cyan;
        font-size: 16px;
        line-height: 26px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $light-cyan;
    padding: 56px 0 80px;


    @media screen and (min-width:768px) and (max-width: 1439px) {
        flex-direction: row;
        min-height: 640px;
        z-index: -1;
        margin: -460px -24px 0;
        padding-left: 24px;
        padding-right: 24px;
        align-items: end;
    }

    @media screen and (min-width: 1440px) {
        display: grid;
        z-index: -1;
        grid-template-columns: 1fr 116px 860px 116px 1fr;
        grid-template-rows: 1fr 100px 100px;
        width: 100%;
        margin: -260px auto 0;
        padding: 0 24px;
        height: 464px;
    }

    &__logo {
        width: fit-content;
        width: -moz-fit-content;
        align-self: center;

        @media screen and (min-width:768px) and (max-width: 1439px){
            align-self: end;
        }

        @media screen and (min-width: 1440px) {
            grid-column: 2;
            grid-row: 3;
            align-self: start;
        }
    }

    &__copyright {
        margin-bottom: 36px;
        margin-top: 36px;
        font-weight: 400;
        font-size: 15px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.1px;
        flex: auto;
        @media screen and (min-width:768px) {
            line-height: 26px;
            margin: 0;
        }

        @media screen and (min-width: 1440px) {
            grid-column: 3;
            grid-row: 3;
            align-self: start;
        }
    }

    &__social-media {
        display: flex;
        width: 125px;
        justify-content: space-between;

        @media screen and (min-width:768px) and (max-width: 1439px){
            align-self: end;
        }

        @media screen and (min-width: 1440px) {
            grid-column: 4;
            grid-row: 3;
            align-self: start;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__link-image:hover  img {
        opacity: 0.5;
    }
}
